@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.filterCardList {
  margin-bottom: -24px;
  :global {
    .ant-card-meta-content {
      margin-top: 0;
    }
    // disabled white space
    .ant-card-meta-avatar {
      font-size: 0;
    }
    .ant-card-actions {
      background: #f7f9fa;
    }
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
  }
  .cardInfo {
    .clearfix();
    margin-top: 16px;
    margin-left: 40px;
    & > div {
      position: relative;
      text-align: left;
      float: left;
      width: 50%;
      p {
        line-height: 32px;
        font-size: 24px;
        margin: 0;
      }
      p:first-child {
        color: @text-color-secondary;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }
  }
}
.container {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.card-loading {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.card-border {
  padding: 10px;
  border: 1px solid #f3f3f3;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .card-loading {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .card-loading {
    flex: 0 0 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
}
@media (min-width: 992) {
  .container {
    max-width: 960px;
  }
  .card-loading {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .search {
    width: 50%;
    margin: 0 auto;
  }
  .card-loading {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.abc {
  &:hover {
    .border-audio {
      height: 5px;
      border-radius: 5px;
    }
    .border-tua {
      height: 12px;
    }
    .dot-tua {
      width: 12px;
      border-radius: 12px;
      background: red;
      height: 12px;
    }
  }
}
.border-tua {
  width: 100%;
  z-index: 1001;
  display: block;
  height: 50px;
  position: absolute;
  bottom: 48px;
  left: 0.0000000000000001px;
}
.dot-tua {
  position: absolute;
  margin-top: 3px;
  margin-left: -2%;
  z-index: 999;
  bottom: 44px;
  left: 0.0000000000000001px;
}

.time-audio {
  width: 100%;
  z-index: 1000;
  display: flex;
  position: absolute;
  bottom: 58px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  left: 0.0000000000000001px;
}
.border-audio {
  display: block;
  background: red;
  height: 2px;
  position: absolute;
  bottom: 48px;
  left: 0.0000000000000001px;
  &:hover {
    height: 5px;
  }
}
.time-in-audio {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #38e4ff;
  border-radius: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-left: -24px;
}
