.profile {
  background: #f3f5f9;
  margin-top: 60px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 200px;
}
.main {
  display: flex;
  padding: 15px;
}
.detail-left {
  flex-basis: 25%;
  background: #fff;
}
.avatar-cart {
  padding: 20px;
  background-color: #3260c7;
}
.img-avatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
}
.detail-center {
  flex-basis: 3%;
}
.detail-right {
  flex-basis: 72%;
  background: #fff;
}
.active {
  box-shadow: inset 4px 0 0 #9dbaf2;
  color: #104da1;
}
.menu-item-left {
  padding: 17px 40px;
  font-size: 19px;
  border-bottom: 2px solid #f3f5f9;
  cursor: pointer;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
