.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f5f9;
}
li {
  list-style: none;
}
.filter-data {
  padding: 5px;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.filter-data .filter-radio {
  margin: 0 10px;
}
.filter-data .filter-radio > div {
  width: 175px;
}
.filter-data .filter-gender {
  margin-right: 10px;
}
.filter-data .filter-gender > div {
  width: 175px;
}
.filter-data .filter-sort > div {
  width: 175px;
}
.filter-data .filter-date > span {
  width: 175px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.box-cart {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border: 1px solid #95a5a6;
  justify-content: space-between;
}
.box-cart:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.cart-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-bottom: 10px !important;
  height: auto;
}
.member-information {
  font-size: 14px;
  padding: 15px;
  display: flex;
  line-height: 1;
  background: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}
.member-information .list-menu {
  display: flex;
  justify-content: space-between;
}
.member-information .list-menu h4 {
  color: black;
  display: inline-block;
  margin-bottom: 15px;
}
.background-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
  display: block;
  transition: transform 0.3s;
}
.background-avatar:hover {
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
}
.image-cart {
  width: 100%;
  overflow: hidden;
}
.title-cart {
  background: #fff;
  padding: 20px;
}
.slide-play {
  width: 100%;
  min-height: 3px;
  position: relative;
  outline: 0;
  background-color: #bdc3c7;
  cursor: pointer;
}
.played {
  height: 100%;
  position: relative;
  background: #ea2027;
}
.dots {
  position: absolute;
  top: -3px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #ea2027;
  border-radius: 50%;
  border: 1px solid #ea2027;
  outline: 0;
}
.detail {
  color: black;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail:last-child {
  display: block;
}
.play-icon i {
  cursor: pointer;
  margin: 0 auto;
  font-size: 20px;
  display: table;
}
.bold {
  font-weight: 600;
  color: #333333;
}
.li-skeleton {
  width: 100%;
  height: 6px;
  margin: 10px 0.000000001px;
  background: #bdc3c7;
}
.range {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.range .info {
  pointer-events: none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  position: absolute;
  height: 70px;
  top: 0;
  left: 10px;
  right: 10px;
  background-color: rgba(46, 204, 113, 0.6);
  padding: 5px 15px 5px 65px;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.range .album-art {
  position: absolute;
  left: 15px;
  top: -20px;
  z-index: 3;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0);
  transform: scale(1);
  transition: all 0.5s ease;
}
.range .album-art::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-image: url('https://i.scdn.co/image/9dcbd30dbe0c621cbaeae427cf80eff9877b4fcd');
}
.range .album-art::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.range i:nth-child(2) {
  left: 35%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: ghostwhite;
}
.range i:nth-child(3) {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: ghostwhite;
}
.range i:nth-child(4) {
  left: 65%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: ghostwhite;
}
.input-played {
  cursor: pointer;
  height: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
  background: #7f8c8d;
}
.input-played:focus {
  outline: none;
}
.input-played:focus::-webkit-slider-runnable-track {
  background: #7f8c8d;
}
.input-played::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 8px;
  background: #fff;
  border: none;
  position: relative;
  top: 0;
  z-index: 2;
  box-shadow: -100vw 0 0 100vw #9c27b0;
}
.input-played::-moz-range-thumb {
  z-index: 2;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: red;
  border: none;
}
.input-played::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
}
.input-played::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
  overflow: hidden;
}
.input-played::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #7f8c8d;
}
.input-loaded {
  cursor: pointer;
  z-index: 1;
  pointer-events: none;
  height: 5px;
  position: absolute;
  top: 0;
  -webkit-appearance: none;
  transition: all 0.35s;
}
.input-loaded:focus {
  outline: none;
}
.input-loaded:focus::-webkit-slider-runnable-track {
  background: #bdc3c7;
}
.input-loaded::-webkit-slider-thumb {
  display: none;
}
.input-loaded::-moz-range-thumb {
  display: none;
}
.input-loaded::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
}
.input-loaded::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #bdc3c7;
}
.input-loaded::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #bdc3c7;
}
@media (min-width: 576px) {
  .detail-list-page {
    padding-top: 52px;
  }
  .container {
    max-width: 520px;
  }
  .cart-item {
    flex-basis: 50%;
    max-width: 250px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .row {
    justify-content: space-between;
  }
  .filter-data {
    flex-wrap: wrap;
  }
  .filter-data .item-filter {
    margin: 10px 5px;
  }
}
@media (min-width: 768px) {
  .detail-list-page {
    padding-top: 70px;
  }
  .container {
    max-width: 720px;
  }
  .cart-item {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media (min-width: 992px) {
  .detail-list-page {
    padding-top: 70px;
  }
  .container {
    max-width: 960px;
  }
  .cart-item {
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media (max-width: 575px) {
  .detail-list-page {
    padding-top: 52px;
  }
  .container {
    max-width: 90%;
  }
  .cart-item {
    flex-basis: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
  .filter-data {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 320px;
  }
  .filter-data .filter-radio {
    margin: 10px 0 !important;
  }
  .filter-data .filter-radio i {
    position: absolute;
    right: 0.00000001px !important;
  }
  .filter-data .filter-sort i {
    position: absolute;
    right: 0.00000001px !important;
  }
  .filter-data .filter-gender {
    margin: 0.0000000001px;
    margin-bottom: 10px !important;
  }
  .filter-data .filter-gender i {
    position: absolute;
    right: 0.00000001px !important;
  }
  .filter-data div {
    width: 100% !important;
  }
  .filter-data span {
    width: 100% !important;
  }
}
.duration-item {
  display: flex;
  position: relative;
  align-items: center;
}
.duration-item i:last-child {
  cursor: pointer;
  font-size: 18px;
  color: gray;
  position: absolute;
  right: 5px;
}
.active {
  top: -50px !important;
}
.active-play .album-art::before {
  animation: rotation 3s infinite linear;
  -moz-animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  -o-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}
.active-play-audio {
  animation: rotation 3s infinite linear;
  -moz-animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  -o-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.material-card {
  position: relative;
  height: 0;
  padding-bottom: 280px;
  margin-bottom: 6.6em;
}
.material-card h2 {
  background-color: #9c27b0;
  position: absolute;
  top: calc(84%);
  left: 0;
  width: 100%;
  padding: 10px 16px;
  color: #fff;
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card h2 .span-title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.material-card h2::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-top-color: transparent;
  border-right-color: #4a148c;
  border-bottom-color: #4a148c;
  border-left-color: transparent;
}
.material-card h2 span {
  display: block;
}
.material-card h2 li {
  height: 7px;
  margin: 12px 0;
  background: #fff !important;
}
.material-card h2 li:nth-child(1) {
  width: 80%;
}
.material-card h2 li:nth-child(2) {
  width: 40%;
}
.material-card h2 strong {
  font-weight: 400;
  display: block;
  font-size: 0.8em;
}
.material-card h2::after {
  content: ' ';
  position: absolute;
  left: 0;
  width: 0;
  border: 8px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: auto;
  bottom: 0;
  border-top-color: #9c27b0;
  border-right-color: #9c27b0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card .mc-content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 16px;
  left: 16px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 10px 15px 8px rgba(132, 132, 132, 0.4);
}
.material-card .mc-content .img-container {
  overflow: hidden;
  position: absolute;
  background-image: url('https://i.scdn.co/image/9dcbd30dbe0c621cbaeae427cf80eff9877b4fcd');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .mc-content .img-container .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.material-card .mc-content .mc-description {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  bottom: 0;
  padding: 10px 0 15px 15px;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.material-card .mc-content .mc-description .span-discription {
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
}
.material-card .mc-btn-action {
  background-color: #9c27b0;
  position: absolute;
  right: 16px;
  top: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid;
  width: 40px;
  height: 40px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .mc-footer {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.cared i:last-child {
  color: #ffd700;
  animation: stretchbounce 0.5s ease-in-out;
  -moz-animation: stretchbounce 0.5s ease-in-out;
  -webkit-animation: stretchbounce 0.5s ease-in-out;
  -o-animation: stretchbounce 0.5s ease-in-out;
}
.mc-active h2 {
  top: 0;
  padding: 10px 16px 10px 70px;
}
.mc-active h2::before {
  border-top-color: transparent;
  border-right-color: #9c27b0;
  border-bottom-color: #9c27b0;
  border-left-color: transparent;
  top: 0;
}
.mc-active h2::after {
  border-top-color: #4a148c;
  border-right-color: #4a148c;
  border-bottom-color: transparent;
  border-left-color: transparent;
  bottom: -16px;
}
.mc-active .mc-content {
  background-color: #f3e5f5;
  padding-top: 5.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mc-active .mc-content .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('https://i.scdn.co/image/9dcbd30dbe0c621cbaeae427cf80eff9877b4fcd');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 12px;
  width: 40px;
  height: 40px;
  z-index: 20;
}
.mc-active .mc-content .img-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.mc-active .mc-content .mc-description {
  opacity: 1;
}
.mc-active .mc-btn-action {
  border-color: #f3e5f5;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.mc-active .mc-footer {
  background-color: #e1bee7;
  overflow: visible;
  position: absolute;
  opacity: 1;
  top: calc(84%);
  left: 16px;
  right: 0;
  height: 70px;
}
@keyframes stretchbounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes stretchbounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes stretchbounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes stretchbounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
