<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
  <title>HHR</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <style>
    .ant-form-item-required:before {
      display: inline-block;
      margin-right: 4px;
      content :'' !important;
      font-family: SimSun;
      line-height: 1;
      font-size: 14px;

    }
  </style>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>

</html>
