<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>HHR</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <style>
    .ant-form-item-required:before {
      display: inline-block;
      margin-right: 4px;
      content :'' !important;
      font-family: SimSun;
      line-height: 1;
      font-size: 14px;

    }
    .icon-login-page svg{
      fill:#fff !important;
    }
    .icon-success svg{
      fill:#52c41a !important;
    }
    .ant-form-item-children #day{
      width: 30% !important
    }
    .ant-form-item-children #month{
      width: 30% !important;
      margin-left: 16px
    }
    .ant-form-item-children #year{
      width: 30% !important;
      margin-left: 16px
    }
    .anticon-thunderbolt svg{
      fill: #fabc3f
    }
    @media (max-width: 680px) {
      .ant-form-item-children #day{
      width: 30% !important;
      display: inline-block;
    }
    .ant-form-item-children #month{
      width: 30% !important;
      display: inline-block;
      margin-left: 14px
    }
    .ant-form-item-children #year{
      width: 30% !important;
      display: block;
      float: right;
      position: relative;
      top: 4px;
      margin-left: 0px !important
    }
    }

  </style>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>

</html>
