.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f5f9;
}
li {
  list-style: none;
}
.filter-data {
  padding: 5px;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  .filter-radio {
    margin: 0 10px;
  }
  .filter-radio > div {
    width: 175px;
  }
  .filter-gender {
    margin-right: 10px;
  }
  .filter-gender > div {
    width: 175px;
  }
  .filter-sort > div {
    width: 175px;
  }
  .filter-date > span {
    width: 175px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.box-cart {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border: 1px solid #95a5a6;
  justify-content: space-between;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}
.cart-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-bottom: 10px !important;
  height: 270px;
}
.member-information {
  font-size: 14px;
  padding: 15px;
  display: flex;
  line-height: 1;
  background: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  .list-menu {
    display: flex;
    justify-content: space-between;
    h4 {
      color: black;
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}
.background-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
  display: block;
  &:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  transition: transform 0.3s;
}
.image-cart {
  width: 100%;
  overflow: hidden;
}
.title-cart {
  background: #fff;
  padding: 20px;
}
.slide-play {
  width: 100%;
  min-height: 3px;
  position: relative;
  outline: 0;
  background-color: #bdc3c7;
  cursor: pointer;
}
.played {
  height: 100%;
  position: relative;
  background: #ea2027;
}
.dots {
  position: absolute;
  top: -3px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #ea2027;
  border-radius: 50%;
  border: 1px solid #ea2027;
  outline: 0;
}
.detail {
  color: black;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:last-child {
    display: block;
  }
}
.play-icon {
  i {
    cursor: pointer;
    margin: 0 auto;
    font-size: 20px;
    display: table;
  }
}
.li-skeleton {
  width: 100%;
  height: 6px;
  margin: 10px 0.000000001px;
  background: #bdc3c7;
}
.range {
  background: #f2f2f2;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.input-played {
  cursor: pointer;
  height: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
  background: #7f8c8d;
  &:focus {
    outline: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #7f8c8d;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 8px;
    background: #fff;
    border: none;
    position: relative;
    top: 0;
    z-index: 2;
    box-shadow: -100vw 0 0 100vw red;
  }
  &::-moz-range-thumb {
    z-index: 2;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: red;
    border: none;
  }
  &::-ms-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
  }
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    overflow: hidden;
  }
  &::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #7f8c8d;
  }
}
.input-loaded {
  cursor: pointer;
  z-index: 1;
  pointer-events: none;
  height: 5px;
  position: absolute;
  top: 0;
  -webkit-appearance: none;
  transition: all 0.35s;
  &:focus {
    outline: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #bdc3c7;
  }

  &::-webkit-slider-thumb {
    display: none;
  }
  &::-moz-range-thumb {
    display: none;
  }
  &::-ms-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #bdc3c7;
  }
  &::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #bdc3c7;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .cart-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .filter-data {
    flex-wrap: wrap;
    .item-filter {
      margin: 10px 5px;
    }
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .cart-item {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .cart-item {
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }
  .cart-item {
    flex-basis: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .filter-data {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 320px;
    .filter-radio {
      margin: 10px 0 !important;
      i {
        position: absolute;
        right: 0.00000001px !important;
      }
    }
    .filter-sort {
      i {
        position: absolute;
        right: 0.00000001px !important;
      }
    }
    .filter-gender {
      margin: 0.0000000001px;
      margin-bottom: 10px !important;
      i {
        position: absolute;
        right: 0.00000001px !important;
      }
    }
    div {
      width: 100% !important;
    }
    span {
      width: 100% !important;
    }
  }
}
