.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f5f9;
}
li {
  list-style: none;
}
.filter-data {
  padding: 5px;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.filter-data .filter-radio {
  margin: 0 10px;
}
.filter-data .filter-radio > div {
  width: 175px;
}
.filter-data .filter-gender {
  margin-right: 10px;
}
.filter-data .filter-gender > div {
  width: 175px;
}
.filter-data .filter-sort > div {
  width: 175px;
}
.filter-data .filter-date > span {
  width: 175px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.box-cart {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border: 1px solid #95a5a6;
  justify-content: space-between;
}
.box-cart:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.cart-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-bottom: 10px !important;
  height: 270px;
}
.cart-item:hover {
  text-decoration: none;
}
.cart-item:hover .input-played {
  height: 5px;
}
.cart-item:hover .input-played::-webkit-slider-runnable-track {
  height: 5px;
}
.cart-item:hover .input-played::-moz-range-track {
  height: 5px;
}
.member-information {
  font-size: 14px;
  padding: 15px;
  display: flex;
  line-height: 1;
  background: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}
.member-information .list-menu {
  display: flex;
  justify-content: space-between;
}
.member-information .list-menu h4 {
  color: black;
  display: inline-block;
  margin-bottom: 15px;
}
.background-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
  display: block;
  transition: transform 0.3s;
}
.background-avatar:hover {
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
}
.image-cart {
  width: 100%;
  overflow: hidden;
}
.title-cart {
  background: #fff;
  padding: 20px;
}
.slide-play {
  width: 100%;
  min-height: 3px;
  position: relative;
  outline: 0;
  background-color: #bdc3c7;
  cursor: pointer;
}
.played {
  height: 100%;
  position: relative;
  background: #ea2027;
}
.dots {
  position: absolute;
  top: -3px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #ea2027;
  border-radius: 50%;
  border: 1px solid #ea2027;
  outline: 0;
}
.detail {
  color: black;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail:last-child {
  display: block;
}
.play-icon i {
  cursor: pointer;
  margin: 0 auto;
  font-size: 20px;
  display: table;
}
.li-skeleton {
  width: 100%;
  height: 6px;
  margin: 10px 0.000000001px;
  background: #bdc3c7;
}
.range {
  background: #f2f2f2;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.input-played {
  cursor: pointer;
  height: 3px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
}
.input-played:focus {
  outline: none;
}
.input-played:focus::-webkit-slider-runnable-track {
  background: #7f8c8d;
}
.input-played::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: red;
  border: none;
  position: relative;
  top: -4px;
}
.input-played::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: red;
  border: none;
}
.input-played::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
}
.input-played::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: #7f8c8d;
  border-radius: 1.3px;
}
.input-played::-moz-range-track {
  width: 100%;
  height: 3px;
  background: #7f8c8d;
  border-radius: 1.3px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .cart-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .filter-data {
    flex-wrap: wrap;
  }
  .filter-data .item-filter {
    margin: 10px 5px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .cart-item {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .cart-item {
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }
  .cart-item {
    flex-basis: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .filter-data {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 320px;
  }
  .filter-data .filter-radio {
    margin: 10px 0 !important;
  }
  .filter-data .filter-radio i {
    position: absolute;
    right: 0.00000001px !important;
  }
  .filter-data .filter-sort i {
    position: absolute;
    right: 0.00000001px !important;
  }
  .filter-data .filter-gender {
    margin: 0.0000000001px;
    margin-bottom: 10px !important;
  }
  .filter-data .filter-gender i {
    position: absolute;
    right: 0.00000001px !important;
  }
  .filter-data div {
    width: 100% !important;
  }
  .filter-data span {
    width: 100% !important;
  }
}
