.profile {
  background: #f3f5f9;
  padding-top: 70px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.main {
  overflow: auto;
  padding: 15px;
}
.main::after {
  content: "";
  clear: both;
  display: table;
}
.detail-left {
  background: #fff;
  z-index: 1;
  position: relative;
}
.avatar-cart {
  padding: 20px;
  background-color: #3260c7;
}
.img-avatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
}
.background-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.active {
  color: #fff;
  background: #81ccc9;
}
.menu-item-left {
  padding: 17px 40px;
  font-size: 19px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .detail-left {
    float: none;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #f3f5f9;
  }
  .detail-right {
    float: none;
    width: 100%;
  }
  .menu-item-left {
    border-bottom: none;
    border-right: 2px solid #f3f5f9;
    flex-grow: 1;
  }
  .menu-item-left:last-child {
    border-right: none;
  }
  .menu {
    display: flex;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .detail-right {
    float: right;
    width: 70%;
  }
  .detail-left {
    float: left;
    width: 28%;
    background: #fff;
  }
  .menu-item-left {
    display: block;
    border-bottom: 2px solid #f3f5f9;
    border-right: none;
  }
  .menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .detail-left {
    float: none;
    width: 100%;
    background: #fff;
  }
  .detail-right {
    float: none;
    width: 100%;
  }
  .menu-item-left {
    display: block;
    border-bottom: 2px solid #f3f5f9;
    border-right: none;
  }
}
