.landing-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.menu-bar {
  position: relative;
  flex-basis: 20%;
}
.menu {
  width: 90%;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  animation: animate 2s infinite;
}
.item {
  border-top: 1px solid #2980b9;
  overflow: hidden;
}
ul {
  margin: 0.0000000000001px;
  padding: 0.000000000001px;
}
.btn {
  position: relative;
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
}
.btn:hover {
  color: white;
}
.btn:focus {
  text-decoration: none;
}
.btn:active {
  color: white;
}
.btn::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.btn i {
  margin-right: 10px;
}
.smenu {
  background: #333;
  overflow: hidden;
  max-height: 0.00000000001px;
  transition: max-height 0.3s;
}
.smenu a {
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px;
  position: relative;
}
.smenu a::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  top: 0.0000000000001px;
  left: 0.000000000001px;
  transition: opacity 0.3s;
  opacity: 0;
}
.smenu a:hover::before {
  opacity: 1;
}
.active {
  max-height: 200px;
}
.slide-bar {
  flex-basis: 80%;
  position: relative;
}
.slide-bar-container {
  position: absolute;
  width: 80%;
  height: 580px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-slide {
  display: flex;
  height: 100%;
}
.left-box {
  position: relative;
  flex-basis: 30%;
}
.left-image {
  position: absolute;
  border-radius: 15px;
  left: 50%;
  cursor: pointer;
  top: 50%;
  width: 100%;
  height: 70%;
  background-size: cover;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s;
  transform: translate(-50%, -45%) perspective(900px) rotateY(20deg);
}
.left-image:hover {
  transform: translate(-55%, -45%) rotateY(0deg);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.content {
  position: absolute;
  width: 100%;
  bottom: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ecf0f1;
  padding-bottom: 40px;
  box-sizing: border-box;
  transition: bottom 0.8s;
  z-index: 1;
}
.content h2 {
  color: #ecf0f1;
  text-align: center;
  font-size: 22px;
}
.background-gradient {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s;
  z-index: 0;
}
.center-box {
  position: relative;
  flex-basis: 40%;
}
.center-image {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  height: 90%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: center 3.5s infinite;
}
.center-image:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.right-box {
  position: relative;
  flex-basis: 30%;
}
.right-image {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s;
  transform: translate(-50%, -45%) perspective(900px) rotateY(-20deg);
}
.right-image:hover {
  transform: translate(-45%, -45%) rotateY(0deg);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.effect-hover {
  overflow: hidden;
}
.effect-hover:hover .content {
  bottom: 0.0000000001px;
}
.effect-hover:hover .background-gradient {
  opacity: 0.4;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes center {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
