.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f5f9;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.cart-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  border-radius: 5px;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-bottom: 10px !important;
}
.cart-item:hover .img-item {
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
}
.cart-item:hover .box-cart {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.box-cart {
  transition: box-shadow 0.3s;
}
.img-item {
  transition: transform .3s;
  transition-delay: 0.3s;
}
.image-cart {
  width: 100%;
  overflow: hidden;
}
.title-cart {
  background: #fff;
  padding: 30px;
}
.detail {
  color: black;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail:last-child {
  display: block;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .cart-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .cart-item {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .cart-item {
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }
  .cart-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}
